{% load static %}

<div class="container my-2 d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex justify-content-start">
        <img class="d-flex align-items-center"
             src="{% static 'images/machine.png' %}" alt="Общая инфо" width="50" height="50">
        <div class="mx-4 my-3">
            <a>{{ user.name }} - {{ user.description }}</a>
        </div>
    </div>
    <div>
        {% if user.role == 'MN' %}
            <a class="btn brand-btn text-white" href="{% url 'machine_create' %}" role="button">Добавить Машину</a>
        {% endif %}
    </div>
</div>
<h5 class="container">Информация о комплектации и технических характеристиках Вашей техники</h5>

<!-- Форма с данными по машинам -->
<form method="GET" class="my-3">
    {% csrf_token %}
    <div class="d-flex flex-wrap justify-content-start align-items-center filters-area px-2 py-2">
        {% for field in machine_filter.form %}
        <div class="mx-1 my-1">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <input class="btn mx-1 brand-btn text-white" type="submit" value="Поиск">
    </div>
</form>

{% if machine_filter.qs|length %}
    <div class="table-responsive">
        <table class="table table-striped align-middle text-center">
            <thead>
            <tr>
                <th>Зав. № машины</th>
                <th>Модель техники</th>
                <th>Модель двигателя</th>
                <th>Зав. № двигателя</th>
                <th>Модель трансмиссии</th>
                <th>Зав. № трансмиссии</th>
                <th>Модель ведущего моста</th>
                <th>Зав. № ведущего моста</th>
                <th>Модель управляемого моста</th>
                <th>Зав. № управляемого моста</th>

                <th>Договор поставки №, дата</th>
                <th>Дата отгрузки с завода</th>
                <th>Грузополучатель (конечный потребитель)</th>
                <th>Адрес поставки (эксплуатации)</th>
                <th>Комплектация (доп. опции)</th>
                <th>Клиент</th>
                <th>Сервисная компания</th>
            </tr>
            </thead>
            <tbody>
            {% for machine in machine_filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'machine_detail' machine.id %}">{{ machine.serial_number }}</a>
                </td>
                <td>
                    <a href="{% url 'lookup_vehicle_model_detail' machine.vehicle_model.id %}">
                        {{ machine.vehicle_model.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'lookup_engine_model_detail' machine.engine_model.id %}">
                        {{ machine.engine_model.name }}
                    </a>
                </td>
                <td>{{ machine.engine_serial_number }}</td>
                <td>
                    <a href="{% url 'lookup_transmission_model_detail' machine.transmission_model.id %}">
                        {{ machine.transmission_model.name }}
                    </a>
                </td>
                <td>{{ machine.transmission_serial_number }}</td>
                <td>
                    <a href="{% url 'lookup_drive_axle_model_detail' machine.drive_axle_model.id %}">
                        {{ machine.drive_axle_model.name }}
                    </a>
                </td>
                <td>{{ machine.drive_axle_serial_number }}</td>
                <td>
                    <a href="{% url 'lookup_steering_bridge_model_detail' machine.steering_bridge_model.id %}">
                        {{ machine.steering_bridge_model.name }}
                    </a>
                </td>
                <td>{{ machine.steering_bridge_serial_number }}</td>

                <td>{{ machine.supply_contract }}</td>
                <td>{{ machine.shipment_date }}</td>
                <td>{{ machine.consumer }}</td>
                <td>{{ machine.delivery_address }}</td>
                <td>{{ machine.equipment }}</td>
                <td>{{ machine.client.name }}</td>
                <td>{{ machine.service_company.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h6>Для указанных параметров поиска нет данных</h6>
{% endif %}