{% load static %}

<div class="container my-2 d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex justify-content-start">
        <img class="d-flex align-items-center"
             src="{% static 'images/maintenance.png' %}" alt="ТО" width="50" height="50">
        <div class="mx-4 my-3">
            {% if maintenance_filter.qs|length %}
            <a>{{ maintenance_filter.qs.first.machine }}</a>
            {% else %}
            <a>Машина не выбрана</a>
            {% endif %}
        </div>
    </div>
    <div>
        <a class="btn brand-btn text-white" href="{% url 'maintenance_create' %}" role="button">Добавить ТО</a>
    </div>
</div>
<h5 class="card-title">Информация о проведенных ТО Вашей техники</h5>

<!-- Форма с данными по ТО -->
<form method="GET" class="my-3">
    {% csrf_token %}
    <div class="d-flex flex-wrap justify-content-start align-items-center filters-area px-2 py-2">
        {% for field in maintenance_filter.form %}
        <div class="mx-1 my-1">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <input class="btn mx-1 brand-btn text-white" type="submit" value="Поиск">
    </div>
</form>

{% if maintenance_filter.qs|length %}
    <div class="table-responsive">
        <table class="table table-striped align-middle text-center">
            <thead>
            <tr>
                <th>Зав. № машины</th>
                <th>Вид ТО</th>
                <th>Дата проведения ТО</th>
                <th>Наработка, м/час</th>
                <th>Заказ-наряд</th>
                <th>Дата заказ-наряда</th>
                <th>Организация, проводившая ТО</th>
            </tr>
            </thead>
            <tbody>
            {% for maintenance in maintenance_filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'machine_detail' maintenance.machine.id %}">{{ maintenance.machine.serial_number}}</a>
                </td>
                <td>
                    <a href="{% url 'lookup_maintenance_type_detail' maintenance.maintenance_type.id %}">
                        {{ maintenance.maintenance_type.name }}
                    </a>
                </td>
                <td>{{ maintenance.maintenance_date }}</td>
                <td>{{ maintenance.operating_time }}</td>
                <td>{{ maintenance.work_order_number }}</td>
                <td>{{ maintenance.work_order_date }}</td>
                <td>{{ maintenance.service_company.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h6>Для указанных параметров поиска нет данных</h6>
{% endif %}