{% load static %}

<div class="container my-2 d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex justify-content-start">
        <img class="d-flex align-items-center"
             src="{% static 'images/claims.png' %}" alt="Рекламация" width="50" height="50">
        <div class="mx-4 my-3">
            {% if claim_filter.qs|length %}
            <a>{{ claim_filter.qs.first.machine }}</a>
            {% else %}
            <a>Машина не выбрана</a>
            {% endif %}
        </div>
    </div>
    <div>
        {% if user.role == 'MN' or user.role == 'SC'  %}
            <a class="btn brand-btn text-white" href="{% url 'claim_create' %}" role="button">Добавить Рекламацию</a>
        {% endif %}
    </div>
</div>
<h5 class="card-title">Информация о рекламациях Вашей техники</h5>

<!-- Форма с данными по рекламациям -->
<form method="GET" class="my-3">
    {% csrf_token %}
    <div class="d-flex flex-wrap justify-content-start align-items-center filters-area px-2 py-2">
        {% for field in claim_filter.form %}
        <div class="mx-1 my-1">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <input class="btn mx-1 brand-btn text-white" type="submit" value="Поиск">
    </div>
</form>

{% if claim_filter.qs|length %}
    <div class="table-responsive">
        <table class="table table-striped align-middle text-center">
            <thead>
            <tr>
                <th>Зав. № машины</th>
                <th>Дата отказа</th>
                <th>Наработка, м/час</th>
                <th>Узел отказа</th>
                <th>Описание отказа</th>
                <th>Способ восстановления</th>
                <th>Используемые запасные части</th>
                <th>Дата восстановления</th>
                <th>Время простоя техники</th>
                <th>Сервисная компания</th>
            </tr>
            </thead>
            <tbody>
            {% for claim in claim_filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'machine_detail' claim.machine.id %}">{{ claim.machine.serial_number}}</a>
                </td>
                <td>{{ claim.failure_date }}</td>
                <td>{{ claim.operating_time }}</td>
                <td>
                    <a href="{% url 'lookup_failure_node_detail' claim.failure_node.id %}">
                        {{ claim.failure_node.name }}
                    </a>
                </td>
                <td>{{ claim.failure_description }}</td>
                <td>
                    <a href="{% url 'lookup_recovery_method_detail' claim.recovery_method.id %}">
                        {{ claim.recovery_method.name }}
                    </a>
                </td>
                <td>{{ claim.spare_parts }}</td>
                <td>{{ claim.recovery_date }}</td>
                <td>{{ claim.machine_downtime }}</td>
                <td>{{ claim.machine.service_company.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h6>Для указанных параметров поиска нет данных</h6>
{% endif %}