:root {
    --main-theme-blue-color: #163E6C;
    --main-theme-red-color: #D20A11;
    --main-theme-white-color: #EBE6D6;
}

@font-face {
    font-family: "PT-Astra-Sans_Regular";
    src: url({% static "fonts/PT-Astra-Sans_Regular.ttf" %});
}

@font-face {
    font-family: "PT-Astra-Sans_Bold";
    src: url({% static "fonts/PT-Astra-Sans_Bold.ttf" %});
}

@font-face {
    font-family: "PT-Astra-Sans_Italic";
    src: url({% static "fonts/PT-Astra-Sans_Italic.ttf" %});
}

@font-face {
    font-family: "PT-Astra-Sans_Bold-Italic";
    src: url({% static "fonts/PT-Astra-Sans_Bold-Italic.ttf" %});
}

header, nav, form {
    font-family: PT-Astra-Sans_Bold, Helvetica, Arial, sans-serif;
}

h2 {
    font-family: PT-Astra-Sans_Bold-Italic, Helvetica, Arial, sans-serif;
}

a, p {
    font-family: PT-Astra-Sans_Italic, Helvetica, Arial, sans-serif;
    color: var(--main-theme-blue-color)!important;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: PT-Astra-Sans_Regular, Helvetica, Arial, sans-serif;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.brand-bg-body {
	background-color: var(--main-theme-white-color);
}

.brand-bg-header {
	background-color: var(--main-theme-blue-color);
}

.brand-text-title {
	color: var(--main-theme-red-color);
}

.brand-btn {
    background-color: var(--main-theme-blue-color)!important;
}

.brand-btn:hover {
    background-color: var(--main-theme-white-color)!important;
    color: var(--main-theme-blue-color)!important;
}

.nav-link.active {
    background-color: var(--main-theme-blue-color)!important;
    color: var(--main-theme-red-color)!important;
}

.nav-link {
    color: var(--main-theme-blue-color)!important;
}