{% extends "registration/default_reg.html" %}

{% load static %}

{% block title %}
Выход
{% endblock title %}

{% block body %}

    <img class="d-flex align-items-center text-black"
         src="{% static 'images/logotype_text.png' %}" alt="Main Logo" width="210" height="70">
    <h2 class="border-bottom">Вы вышли из системы!</h2>

    <div class="container d-flex flex-wrap justify-content-between my-2">
        <a href="{% url 'index'%}" class="link-primary">На главную</a>
        <a href="{% url 'login'%}">Войти снова</a>
    </div>

{% endblock %}
